/* controller: server/app/Http/Controllers/AdminViewCoopListController.php */
/* blade     : server/resources/views/admin/AdminViewCoopList.blade.php */
/* css       : server/public/css/admin/AdminViewCoopList.css */


.main {
    margin-left: 110pt;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-main {
    flex-grow: 1;
}

.custom-button {
    display: inline-block;
    border-color  : #408a7e;
    color : #408a7e;
    font-size: 20px;
    background    : #ffffff;
    border        : 2px solid #408a7e;
    padding       : 2px 5px;
    text-align    : center;
    cursor: pointer;
    border-radius : 5%;
}

.coop {
    border-collapse: collapse;
    width: 100%;
}

.coop th, .coop td {
    border-bottom: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.coop th {
    background-color: #f2f2f2;
}

.coop tr {
    background-color: #f2f2f2;
}

select {
    display: inline-block;
    border-color  : #408a7e;
    color : #408a7e;
    font-size: 20px;
    background    : #ffffff;
    border        : 2px solid #408a7e;
    padding       : 2px 10px;
    text-align    : center;
    cursor: pointer;
    border-radius : 5%;
}

select option:first-child {
    display: none;
}
