.header {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 30px;
    text-align: right;
}

.information {
    display: flex;
    color: #408A7E;
    text-align:left;
    margin-bottom: 3px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    text-align:left;
    margin-bottom: 3px;
}

.id {
    text-align:left;
    margin-bottom: 3px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 110pt;
    width: 80%;
    padding: 20px;
}

.info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

.info th {
    background-color: #f2f2f2;
    text-align: center;
}

.info input {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #408A7E;
    margin-bottom: 10px;
    padding: 10px;
}

.info select {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #408A7E;
    margin-bottom: 10px;
    padding: 10px;
}
.edit {
    float: right;
    margin-top: -30px;
}

.left {
    text-align:left;
}
