

.flex-main {
    flex-grow: 1;
}

.custom-button {
    display: inline-block;
    color : #408a7e;
    font-size: 20px;
    background    : #ffffff;
    border        : 2px solid #408a7e;
    padding       : 2px 5px;
    text-align    : center;
    cursor: pointer;
    border-radius : 5%;
}
