body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
}

.side {
  position: fixed;
  top: 0;
  width: 100pt;
  height: 100%;
  background-color: #408A7E;
  color: #FFFFFF;
  padding-top: 20px;
  text-align: center;
  line-height: 20pt;
}

.side a {
  text-decoration: none;
  color: #FFFFFF;
}

.current {
  background-color: #FFFFFF;
  height: 20pt;
  text-align: center;
}

.current a {
  color: #000000;
}

.header {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 30px;
  text-align: right;
}

.header select {
  display: inline-block;
  border-color: #408a7e;
  color: #408a7e;
  font-size: 20px;
  background: #ffffff;
  border: 2px solid #408a7e;
  padding: 2px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
}

.header select option:first-child {
  display: none;
}
