
.name {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 3px;
}

.currentID {
  text-align: left;
  margin-bottom: 3px;
}


.left {
  text-align: left;
}

.red {
  color: red;
}