.info table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.info th, .info td {
  border: 1px solid #ddd;
  padding: 10px;
}

.info th {
  background-color: #f2f2f2;
  text-align: center;
}

.info input {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #408A7E;
  margin-bottom: 10px;
  padding: 10px;
}

.info select {
  display: inline-block;
  color: #408a7e;
  font-size: 20px;
  background: #ffffff;
  border: 2px solid #408a7e;
  padding: 2px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
}

.info select option:first-child {
  display: none;
}

.confirm button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  background-color: #408A7E;
  color: #FFFFFFFF;
  border: none;
  padding: 12px;
  font-size: 18px;
  transition: box-shadow 0.3 ease;
}

.confirm button:hover {
  background-color: #347D68;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}