.contents {
  width: auto;
  margin: 10pt auto;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 110pt;
  width: 80%;
  padding: 20px 0;
}

.info label {
  width: 100pt;
  text-align: center;
  display: inline-block;
}

.info input {
  width: 400pt;
  height: 30pt;
  border: solid thin #408A7E;
  border-radius: 5px;
  margin: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.land_or_air {
  margin: 5pt;
  margin-left: 100pt;
}

.land_or_air input {
  width: auto;
  height: auto;
}

.land_or_air label {
  width: auto;
}

.phone input {
  width: auto;
  text-align: center;
}

.toLogin {
    position: absolute;
    right: 10px;
    bottom: 0px;
    text-decoration: none;
    color:blue;
}
