body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.contents {
  width: auto;
  margin: 10pt auto;
}

.inputs h2 {
  color: #408A7E;
}

.inputs label {
  width: 100pt;
  text-align: center;
  display: inline-block;
}

.inputs input, select {
  width: 200pt;
  height: 30pt;
  border: solid thin #408A7E;
  border-radius: 5px;
  margin: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.land_or_air {
  margin: 5pt;
  margin-left: 100pt;
}

.land_or_air input {
  width: auto;
  height: auto;
}

.land_or_air label {
  width: auto;
}

.phone input {
  width: auto;
  text-align: center;
}

.regist button {
  line-height: 30pt;
  width: 200pt;
  background-color: #408A7E;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30pt auto;
}