.274_602 {
  overflow: hidden;
}

.e274_602 {
  background-color: rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
  width: 1441px;
  height: 1024.08349609375px;
  position: absolute;
}

.e274_603 {
  background-color: rgba(255, 255, 255, 1);
  width: 1198px;
  height: 697px;
  position: absolute;
  left: 185px;
  top: 327px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.274_605 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_605 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 967px;
}

.274_606 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_606 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 866px;
}

.274_607 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_607 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 763px;
}

.274_608 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_608 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 664px;
}

.274_609 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_609 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 562.8571166992188px;
}

.274_610 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_610 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 467px;
}

.274_611 {
  border: 0.20000000298023224px solid rgba(0, 0, 0, 1);
}

.e274_611 {
  width: 1198px;
  height: 0px;
  position: absolute;
  left: 185px;
  top: 375px;
}

.e274_612 {
  width: 16px;
  height: 609.3893432617188px;
  position: absolute;
  left: 1313px;
  top: 412px;
}

.e274_613 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 20.140718460083008px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_614 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 19.265033721923828px;
  position: absolute;
  left: 0px;
  top: 98.99998474121094px;
}

.e274_615 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 20.140718460083008px;
  position: absolute;
  left: 0px;
  top: 197.00003051757812px;
}

.e274_616 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 20.140718460083008px;
  position: absolute;
  left: 0px;
  top: 295px;
}

.e274_617 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 19.265033721923828px;
  position: absolute;
  left: 0px;
  top: 393.9999694824219px;
}

.e274_618 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 20.140718460083008px;
  position: absolute;
  left: 0px;
  top: 491.9999694824219px;
}

.e274_619 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18.38935089111328px;
  position: absolute;
  left: 0px;
  top: 591px;
}

.e274_620 {
  width: 18.585573196411133px;
  height: 610.2457275390625px;
  position: absolute;
  left: 1180px;
  top: 408px;
}

.e274_621 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_622 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 98.00000762939453px;
}

.e274_623 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 197.00001525878906px;
}

.e274_624 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 295.0000305175781px;
}

.e274_625 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 393.0000305175781px;
}

.e274_626 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 492px;
}

.e274_627 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 20.245758056640625px;
  position: absolute;
  left: 2.2737367544323206e-13px;
  top: 590px;
}

.e274_636 {
  width: 42px;
  height: 609px;
  position: absolute;
  left: 813px;
  top: 413px;
}

.e274_637 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_638 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 98px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_639 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 196px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_640 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 295px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_641 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 393px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_642 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 492px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_643 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 590px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_644 {
  width: 126px;
  height: 608px;
  position: absolute;
  left: 448px;
  top: 413px;
}

.e274_645 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_646 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 97.99999237060547px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_647 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 195.99998474121094px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_648 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 293.9999694824219px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_649 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 393.0000305175781px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_650 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 492px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_651 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 126px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 589px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_652 {
  width: 9px;
  height: 608px;
  position: absolute;
  left: 312px;
  top: 413px;
}

.e274_653 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_654 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 98px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_655 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 196px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_656 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 295px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_657 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 393px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_658 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 492px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_659 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 9px;
  height: 19px;
  position: absolute;
  left: 5.6843418860808015e-14px;
  top: 589px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_660 {
  width: 24px;
  height: 614.0834350585938px;
  position: absolute;
  left: 216px;
  top: 410px;
}

.e274_661 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_661 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_662 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 98.00000762939453px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_662 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_663 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 197.00001525878906px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_663 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_664 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 295.0000305175781px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_664 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_665 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 393.0000305175781px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_665 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_666 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 491.9999694824219px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_666 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_667 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24.08345603942871px;
  position: absolute;
  left: 2.842170943040401e-14px;
  top: 590px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_667 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e274_668 {
  width: 1061px;
  height: 19px;
  position: absolute;
  left: 274px;
  top: 345px;
}

.e274_669 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 84px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_670 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 98px;
  height: 19px;
  position: absolute;
  left: 188px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_671 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 546px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_673 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 901px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_674 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 1033px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_675 {
  color: rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
  width: 104px;
  height: 18px;
  position: absolute;
  left: 335px;
  top: 286px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_676 {
  width: 77px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 283px;
}

.e274_677 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.e274_678 {
  color: rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 35px;
  top: 3px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_687 {
  width: 292px;
  height: 36px;
  position: absolute;
  left: 618px;
  top: 218px;
}

.e274_688 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 292px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_688 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_689 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 68px;
  height: 36px;
  position: absolute;
  left: 224px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_689 {
  border: 0.5px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_690 {
  color: rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
  width: 70px;
  height: 19px;
  position: absolute;
  left: 53px;
  top: 8px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_691 {
  width: 16px;
  height: 14px;
  position: absolute;
  left: 25px;
  top: 11px;
}

.e274_692 {
  background-color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 11.733333587646484px;
  height: 10.252086639404297px;
  position: absolute;
  left: 2px;
  top: 1.75px;
}

.e274_693 {
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 244px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_694 {
  width: 219px;
  height: 36px;
  position: absolute;
  left: 192px;
  top: 218px;
}

.e274_695 {
  width: 99px;
  height: 36px;
  position: absolute;
  left: 120px;
  top: 0px;
}

.e274_696 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_696 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_697 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 60px;
  height: 19px;
  position: absolute;
  left: 20px;
  top: 9px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_698 {
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_699 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_699 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_700 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 60px;
  height: 19px;
  position: absolute;
  left: 20px;
  top: 9px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_701 {
  width: 176.29457092285156px;
  height: 31px;
  position: absolute;
  left: 184.8473358154297px;
  top: 152px;
}

.274_702 {
  border: 3px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_702 {
  width: 176.29458618164062px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 31px;
}

.e274_703 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 176px;
  height: 22px;
  position: absolute;
  left: 0.15266452729701996px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_712 {
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 1px;
  top: 0px;
}

.e274_713 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_714 {
  width: 127px;
  height: 394px;
  position: absolute;
  left: 0px;
  top: 64px;
}

.e274_715 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 282px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_716 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 44px;
  position: absolute;
  left: 23px;
  top: 350px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_717 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 214px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_718 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 146px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_719 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 100px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_721 {
  background-color: rgba(255, 255, 255, 1);
  width: 127px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 46px;
}

.e274_720 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 54px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_722 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_723 {
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 128px;
  top: 0px;
}

.e274_724 {
  background-color: rgba(255, 255, 255, 1);
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_725 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1037px;
  top: 29px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_726 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 17px;
  position: absolute;
  left: 1036px;
  top: 60px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_727 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 942px;
  top: 39px;
}

.e274_728 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 26px;
  height: 29px;
  position: absolute;
  left: 3px;
  top: 1px;
}

.e274_729 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 22px;
  top: 4px;
}

.e274_730 {
  transform: rotate(180deg);
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 23px;
  height: 21px;
  position: absolute;
  left: 1256px;
  top: 65px;
  border-radius: 2px;
}

.e274_731 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1153px;
  top: 15px;
}

.e274_732 {
  border-radius: 500px;
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_733 {
  color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 23px;
  height: 49px;
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}