.274_842 {
  overflow: hidden;
}

.e274_842 {
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.e274_843 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 8px;
}

.e274_880 {
  width: 379px;
  height: 66px;
  position: absolute;
  left: 594px;
  top: 777px;
}

.e274_881 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 379px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.274_881 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_882 {
  color: rgba(255, 255, 255, 1);
  width: 379px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 18px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}

.e274_913 {
  width: 339.99993896484375px;
  height: 319.0522766113281px;
  position: absolute;
  left: 289px;
  top: 265px;
}

.e274_914 {
  width: 132.909423828125px;
  height: 28.13725471496582px;
  position: absolute;
  left: 206.0905303955078px;
  top: 0px;
}

.e274_915 {
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: 27px;
  position: absolute;
  left: 39.909423828125px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_916 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 30.9135799407959px;
  height: 27.13725471496582px;
  position: absolute;
  left: 0px;
  top: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_916 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e274_917 {
  width: 133.909423828125px;
  height: 28.18998908996582px;
  position: absolute;
  left: 206.0905303955078px;
  top: 34.99995040893555px;
}

.e274_918 {
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: 27px;
  position: absolute;
  left: 40.909423828125px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_919 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 30.9135799407959px;
  height: 27.13725471496582px;
  position: absolute;
  left: 0px;
  top: 1.052734375px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_919 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e274_920 {
  width: 131.909423828125px;
  height: 28.24272346496582px;
  position: absolute;
  left: 206.0905303955078px;
  top: 69.9999008178711px;
}

.e274_921 {
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: 27px;
  position: absolute;
  left: 39.909423828125px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_922 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 30.9135799407959px;
  height: 27.13725471496582px;
  position: absolute;
  left: 0px;
  top: 1.10546875px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_922 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e274_923 {
  width: 133.909423828125px;
  height: 27.29545783996582px;
  position: absolute;
  left: 206.0905303955078px;
  top: 105.99984741210938px;
}

.e274_924 {
  color: rgba(0, 0, 0, 1);
  width: 94px;
  height: 27px;
  position: absolute;
  left: 39.909423828125px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_925 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 30.9135799407959px;
  height: 27.13725471496582px;
  position: absolute;
  left: 0px;
  top: 0.158203125px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_925 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e274_926 {
  width: 129.909423828125px;
  height: 28.34819221496582px;
  position: absolute;
  left: 206.0905303955078px;
  top: 139.9998016357422px;
}

.e274_927 {
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: 27px;
  position: absolute;
  left: 39.909423828125px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_928 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 30.9135799407959px;
  height: 27.13725471496582px;
  position: absolute;
  left: 0px;
  top: 1.2109375px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.274_928 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e274_929 {
  color: rgba(0, 0, 0, 1);
  width: 179.92002868652344px;
  height: 35.05228805541992px;
  position: absolute;
  left: 0px;
  top: 1px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_930 {
  color: rgba(0, 0, 0, 1);
  width: 179.92002868652344px;
  height: 35.05228805541992px;
  position: absolute;
  left: 0px;
  top: 284px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_883 {
  width: 128.0001678466797px;
  height: 31px;
  position: absolute;
  left: 184px;
  top: 152px;
}

.274_884 {
  border: 3px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_884 {
  width: 128.00001525878906px;
  height: 0px;
  position: absolute;
  left: 0.0001675039529800415px;
  top: 31px;
}

.e274_885 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 128px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_886 {
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_887 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_888 {
  width: 127px;
  height: 394px;
  position: absolute;
  left: 0px;
  top: 64px;
}

.e274_889 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 282px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_890 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 44px;
  position: absolute;
  left: 23px;
  top: 350px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_891 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 214px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_892 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 146px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_893 {
  background-color: rgba(255, 255, 255, 1);
  width: 127px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 92px;
}

.e274_894 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 100px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_895 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 54px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_896 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_897 {
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 127px;
  top: 0px;
}

.e274_898 {
  background-color: rgba(255, 255, 255, 1);
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_899 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1037px;
  top: 29px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_900 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 17px;
  position: absolute;
  left: 1036px;
  top: 60px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_901 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 942px;
  top: 39px;
}

.e274_902 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 26px;
  height: 29px;
  position: absolute;
  left: 3px;
  top: 1px;
}

.e274_903 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 22px;
  top: 4px;
}

.e274_904 {
  transform: rotate(180deg);
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 23px;
  height: 21px;
  position: absolute;
  left: 1256px;
  top: 65px;
  border-radius: 2px;
}

.e274_905 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1153px;
  top: 15px;
}

.e274_906 {
  border-radius: 500px;
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_907 {
  color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 23px;
  height: 49px;
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}

.e140_1881 {
  width: 142px;
  height: 66.23287963867188px;
  position: absolute;
  left: 487px;
  top: 529px;
}

.e144_1994 {
  color: rgba(0, 0, 0, 1);
  width: 19px;
  height: 44px;
  position: absolute;
  left: 9px;
  top: 11px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}

.140_1882 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_1882 {
  width: 142px;
  height: 66.23287963867188px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}