.140_583 {
  overflow: hidden;
}

.e140_583 {
  background-color: rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.e140_585 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 508px;
}

.e140_586 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_587 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 598px;
}

.e140_588 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_589 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 688px;
}

.e140_590 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_591 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 778px;
}

.e140_592 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_593 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 868px;
}

.e140_594 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_595 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 958px;
}

.e140_596 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_597 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 1048px;
}

.e140_598 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.140_599 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_599 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 494px;
}

.140_600 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_600 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 584px;
}

.140_601 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_601 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 674px;
}

.140_602 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_602 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 764px;
}

.140_603 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_603 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 854px;
}

.140_604 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_604 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 944px;
}

.140_605 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_605 {
  width: 1190px;
  height: 0px;
  position: absolute;
  left: 193px;
  top: 1035px;
}

.140_606 {
  border: 0.20000000298023224px solid rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
}

.e140_606 {
  width: 1040.108154296875px;
  height: 0px;
  position: absolute;
  left: 191.94482421875px;
  top: 1124.5654296875px;
}

.e140_607 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 417px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_607 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_608 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 507px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_608 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_609 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 597px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_609 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_610 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 687px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_610 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_611 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 777px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_611 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_612 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 867px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_612 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_613 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 957px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_613 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_614 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 1048px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_614 {
  border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e140_615 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 418px;
}

.e140_616 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.e140_719 {
  width: 219px;
  height: 36px;
  position: absolute;
  left: 186px;
  top: 219px;
}

.e140_720 {
  width: 99px;
  height: 36px;
  position: absolute;
  left: 120px;
  top: 0px;
}

.e140_721 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_721 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_722 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 60px;
  height: 19px;
  position: absolute;
  left: 20px;
  top: 9px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_723 {
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e140_724 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 99px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_724 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_725 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 60px;
  height: 19px;
  position: absolute;
  left: 20px;
  top: 9px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_637 {
  color: rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
  width: 104px;
  height: 18px;
  position: absolute;
  left: 335px;
  top: 286px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_638 {
  width: 842px;
  height: 19px;
  position: absolute;
  left: 290px;
  top: 348px;
}

.e140_639 {
  width: 115px;
  height: 631px;
  position: absolute;
  left: -3px;
  top: 0px;
}

.e140_640 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 74px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_641 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 164px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_642 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 254px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_643 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 344px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_644 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 434px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_645 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 524px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_646 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 56px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 614px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_647 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 112px;
  height: 19px;
  position: absolute;
  left: 3px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_649 {
  width: 154px;
  height: 632px;
  position: absolute;
  left: 184px;
  top: 0px;
}

.e140_650 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 73px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_651 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 163px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_652 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 253px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_653 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 343px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_654 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 433px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_655 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 523px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_656 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 613px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_657 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 98px;
  height: 19px;
  position: absolute;
  left: 28px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_658 {
  width: 154px;
  height: 632px;
  position: absolute;
  left: 455px;
  top: 0px;
}

.e140_659 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 73px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_660 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 163px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_661 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 253px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_662 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 343px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_663 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 73px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_664 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 433px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_665 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 523px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_666 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 154px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 613px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_667 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 42px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_807 {
  width: 37px;
  height: 632px;
  position: absolute;
  left: 705px;
  top: 0px;
}

.e274_808 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 73px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_809 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 163px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_810 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 253px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_811 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 343px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_813 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 433px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_814 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 523px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_815 {
  color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 613px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_816 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_668 {
  width: 28px;
  height: 721.5855712890625px;
  position: absolute;
  left: 859px;
  top: 0px;
}

.e140_669 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 73px;
}

.e140_670 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 163px;
}

.e140_671 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 253px;
}

.e140_672 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 343px;
}

.e140_673 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 433px;
}

.e140_674 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 523px;
}

.e140_675 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 613px;
}

.e140_676 {
  background-color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 18.585573196411133px;
  height: 18.585573196411133px;
  position: absolute;
  left: 5px;
  top: 703px;
}

.e140_677 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_678 {
  color: rgba(94.56250101327896, 94.56250101327896, 94.56250101327896, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 970px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_679 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 216px;
  top: 283px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.e140_680 {
  color: rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
  width: 72px;
  height: 22px;
  position: absolute;
  left: 251px;
  top: 286px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_698 {
  width: 292px;
  height: 36px;
  position: absolute;
  left: 618px;
  top: 218px;
}

.e140_699 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 292px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_699 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_700 {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.07999999821186066);
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 68px;
  height: 36px;
  position: absolute;
  left: 224px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.140_700 {
  border: 0.5px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_701 {
  color: rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
  width: 45px;
  height: 19px;
  position: absolute;
  left: 53px;
  top: 8px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_702 {
  color: rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
  width: 45px;
  height: 19px;
  position: absolute;
  left: 53px;
  top: 8px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_703 {
  width: 16px;
  height: 14px;
  position: absolute;
  left: 25px;
  top: 11px;
}

.e140_704 {
  background-color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 11.733333587646484px;
  height: 10.252086639404297px;
  position: absolute;
  left: 2px;
  top: 1.75px;
}

.e140_711 {
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: 19px;
  position: absolute;
  left: 862px;
  top: 228px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_782 {
  width: 128.0001678466797px;
  height: 31px;
  position: absolute;
  left: 184px;
  top: 152px;
}

.274_783 {
  border: 3px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_783 {
  width: 128.00001525878906px;
  height: 0px;
  position: absolute;
  left: 0.0001675039529800415px;
  top: 31px;
}

.e274_784 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 128px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_785 {
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_786 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_787 {
  width: 127px;
  height: 394px;
  position: absolute;
  left: 0px;
  top: 64px;
}

.e274_788 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 282px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_789 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 44px;
  position: absolute;
  left: 23px;
  top: 350px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_790 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 214px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_792 {
  background-color: rgba(255, 255, 255, 1);
  width: 127px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 141px;
}

.e274_791 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 146px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_793 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 100px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_794 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 54px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_795 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_796 {
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 127px;
  top: 0px;
}

.e274_797 {
  background-color: rgba(255, 255, 255, 1);
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_798 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1037px;
  top: 29px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_799 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 17px;
  position: absolute;
  left: 1036px;
  top: 60px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_800 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 942px;
  top: 39px;
}

.e274_801 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 26px;
  height: 29px;
  position: absolute;
  left: 3px;
  top: 1px;
}

.e274_802 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 22px;
  top: 4px;
}

.e274_803 {
  transform: rotate(180deg);
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 23px;
  height: 21px;
  position: absolute;
  left: 1256px;
  top: 65px;
  border-radius: 2px;
}

.e274_804 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1153px;
  top: 15px;
}

.e274_805 {
  border-radius: 500px;
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_806 {
  color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 23px;
  height: 49px;
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}