.146_8 {
  overflow: hidden;
}

.e146_8 {
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.e146_176 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e146_141 {
  width: 873.3535766601562px;
  height: 66.23287963867188px;
  position: absolute;
  left: 312.27764892578125px;
  top: 249px;
}

.146_144 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_144 {
  width: 774.5474853515625px;
  height: 66.23287963867188px;
  position: absolute;
  left: 98.8059310913086px;
  top: 4.547473508864641e-13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e146_142 {
  color: rgba(0, 0, 0, 1);
  width: 69.62255859375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e146_149 {
  width: 501.6917419433594px;
  height: 66px;
  position: absolute;
  left: 313.3017578125px;
  top: 356px;
}

.e146_150 {
  color: rgba(0, 0, 0, 1);
  width: 69.62255859375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.146_152 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_152 {
  width: 403.40130615234375px;
  height: 66px;
  position: absolute;
  left: 98.29043579101562px;
  top: 4.547473508864641e-13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e146_173 {
  width: 499.6442565917969px;
  height: 66px;
  position: absolute;
  left: 685.9869995117188px;
  top: 575px;
}

.e146_174 {
  color: rgba(0, 0, 0, 1);
  width: 69.62255859375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.146_175 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_175 {
  width: 403.40130615234375px;
  height: 66px;
  position: absolute;
  left: 96.24311828613281px;
  top: 4.547473508864641e-13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e146_163 {
  width: 228.32080078125px;
  height: 66px;
  position: absolute;
  left: 313.3017578125px;
  top: 570px;
}

.e146_164 {
  color: rgba(0, 0, 0, 1);
  width: 69.62255859375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e146_166 {
  color: rgba(0, 0, 0, 1);
  width: 14.334056854248047px;
  height: 19px;
  position: absolute;
  left: 199.65269470214844px;
  top: 33px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.146_165 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_165 {
  width: 130.03036499023438px;
  height: 66px;
  position: absolute;
  left: 98.29043579101562px;
  top: 4.547473508864641e-13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e146_154 {
  width: 526.6725463867188px;
  height: 66px;
  position: absolute;
  left: 288.7288513183594px;
  top: 463px;
}

.e146_155 {
  color: rgba(0, 0, 0, 1);
  width: 116.72017669677734px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.274_759 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_759 {
  width: 403.40130615234375px;
  height: 66px;
  position: absolute;
  left: 123.27099609375px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e146_167 {
  width: 388.04339599609375px;
  height: 66px;
  position: absolute;
  left: 605.1019287109375px;
  top: 735px;
}

.e146_168 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 388.04339599609375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.146_168 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_169 {
  color: rgba(255, 255, 255, 1);
  width: 388.04339599609375px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 18px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}

.e146_170 {
  width: 388.04339599609375px;
  height: 66px;
  position: absolute;
  left: 605.1019287109375px;
  top: 833px;
}

.e146_171 {
  background-color: rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
  width: 388.04339599609375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.146_171 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e146_172 {
  color: rgba(255, 255, 255, 1);
  width: 388.04339599609375px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 18px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}

.e274_734 {
  width: 128px;
  height: 31px;
  position: absolute;
  left: 183.9998321533203px;
  top: 152px;
}

.274_735 {
  border: 3px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_735 {
  width: 128.00001525878906px;
  height: 0px;
  position: absolute;
  left: 0.0001675039529800415px;
  top: 31px;
}

.e274_736 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 128px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_737 {
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_738 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_739 {
  width: 127px;
  height: 394px;
  position: absolute;
  left: 0px;
  top: 64px;
}

.e274_740 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 282px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_741 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 44px;
  position: absolute;
  left: 23px;
  top: 350px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_742 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 214px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_743 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 146px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_745 {
  background-color: rgba(255, 255, 255, 1);
  width: 127px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 92px;
}

.e274_744 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 100px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_746 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 54px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_747 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_748 {
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 127px;
  top: 0px;
}

.e274_749 {
  background-color: rgba(255, 255, 255, 1);
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_750 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1037px;
  top: 29px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_751 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 17px;
  position: absolute;
  left: 1036px;
  top: 60px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_752 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 942px;
  top: 39px;
}

.e274_753 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 26px;
  height: 29px;
  position: absolute;
  left: 3px;
  top: 1px;
}

.e274_754 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 22px;
  top: 4px;
}

.e274_755 {
  transform: rotate(180deg);
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 23px;
  height: 21px;
  position: absolute;
  left: 1256px;
  top: 65px;
  border-radius: 2px;
}

.e274_756 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1153px;
  top: 15px;
}

.e274_757 {
  border-radius: 500px;
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_758 {
  color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 23px;
  height: 49px;
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}