.140_1866 {
  overflow: hidden;
}

.e140_1866 {
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.e140_1867 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 8px;
}

.e140_1879 {
  width: 702.0005493164062px;
  height: 66.23287963867188px;
  position: absolute;
  left: 254px;
  top: 210px;
}

.e140_1880 {
  color: rgba(0, 0, 0, 1);
  width: 146px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 15px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e144_1990 {
  width: 539.5864868164062px;
  height: 66.23287963867188px;
  position: absolute;
  left: 162.4140625px;
  top: 0px;
}

.144_1991 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e144_1991 {
  width: 539.5864868164062px;
  height: 66.23287963867188px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e144_1992 {
  color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 196.04977416992188px;
  height: 31.460617065429688px;
  position: absolute;
  left: 8.2490234375px;
  top: 17px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1908 {
  width: 648px;
  height: 66px;
  position: absolute;
  left: 257px;
  top: 331px;
}

.e140_1909 {
  color: rgba(0, 0, 0, 1);
  width: 139.6823272705078px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 13px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1910 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 159.63694763183594px;
  top: 0px;
}

.140_1911 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_1911 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e140_1912 {
  color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 217px;
  height: 31px;
  position: absolute;
  left: 17.363052368164062px;
  top: 13px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1926 {
  width: 228px;
  height: 148px;
  position: absolute;
  left: 257px;
  top: 453px;
}

.e143_1956 {
  width: 68px;
  height: 24px;
  position: absolute;
  left: 160px;
  top: 0px;
}

.e143_1957 {
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 31px;
  top: 2px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e143_1958 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.143_1958 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e143_1959 {
  width: 68px;
  height: 24px;
  position: absolute;
  left: 160px;
  top: 31px;
}

.e143_1960 {
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 31px;
  top: 2px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e143_1961 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.143_1961 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e143_1962 {
  width: 68px;
  height: 24px;
  position: absolute;
  left: 160px;
  top: 62px;
}

.e143_1963 {
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 31px;
  top: 2px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e143_1964 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.143_1964 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e143_1965 {
  width: 68px;
  height: 24px;
  position: absolute;
  left: 160px;
  top: 93px;
}

.e143_1966 {
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 31px;
  top: 2px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e143_1967 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.143_1967 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e143_1968 {
  width: 68px;
  height: 24px;
  position: absolute;
  left: 160px;
  top: 124px;
}

.e143_1969 {
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: 19px;
  position: absolute;
  left: 31px;
  top: 2px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e143_1970 {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.10000000149011612);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.143_1970 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e140_1927 {
  color: rgba(0, 0, 0, 1);
  width: 139.6823272705078px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1913 {
  width: 648px;
  height: 66px;
  position: absolute;
  left: 257px;
  top: 677px;
}

.e140_1914 {
  color: rgba(0, 0, 0, 1);
  width: 139.6823272705078px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 13px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1915 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 159.63694763183594px;
  top: 0px;
}

.140_1916 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_1916 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e140_1917 {
  color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 392px;
  height: 31px;
  position: absolute;
  left: 17.363052368164062px;
  top: 13px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1918 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 416.63671875px;
  top: 770px;
}

.e140_1919 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.140_1920 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_1920 {
  width: 488.363037109375px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e140_1921 {
  color: rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
  width: 392px;
  height: 31px;
  position: absolute;
  left: 17.363052368164062px;
  top: 13px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e140_1922 {
  width: 379px;
  height: 66px;
  position: absolute;
  left: 605px;
  top: 901px;
}

.e140_1923 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 379px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.140_1923 {
  border: 1px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e140_1924 {
  color: rgba(255, 255, 255, 1);
  width: 379px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 18px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}

.e274_817 {
  width: 128.0001678466797px;
  height: 31px;
  position: absolute;
  left: 184px;
  top: 152px;
}

.274_818 {
  border: 3px solid rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
}

.e274_818 {
  width: 128.00001525878906px;
  height: 0px;
  position: absolute;
  left: 0.0001675039529800415px;
  top: 31px;
}

.e274_819 {
  color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 128px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_820 {
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_821 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 127px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_822 {
  width: 127px;
  height: 394px;
  position: absolute;
  left: 0px;
  top: 64px;
}

.e274_823 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 282px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_824 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 44px;
  position: absolute;
  left: 23px;
  top: 350px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_827 {
  background-color: rgba(255, 255, 255, 1);
  width: 127px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 200px;
}

.e274_825 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 214px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_826 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 146px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_828 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 100px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_829 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 54px;
  font-family: Noto Sans;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_830 {
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.e274_831 {
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 127px;
  top: 0px;
}

.e274_832 {
  background-color: rgba(255, 255, 255, 1);
  width: 1313px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_833 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1037px;
  top: 29px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e274_834 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 17px;
  position: absolute;
  left: 1036px;
  top: 60px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e274_835 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 942px;
  top: 39px;
}

.e274_836 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 26px;
  height: 29px;
  position: absolute;
  left: 3px;
  top: 1px;
}

.e274_837 {
  background-color: rgba(64.00000378489494, 138.00000697374344, 126.00000008940697, 1);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 22px;
  top: 4px;
}

.e274_838 {
  transform: rotate(180deg);
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 23px;
  height: 21px;
  position: absolute;
  left: 1256px;
  top: 65px;
  border-radius: 2px;
}

.e274_839 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1153px;
  top: 15px;
}

.e274_840 {
  border-radius: 500px;
  background-color: rgba(239.0625, 239.0625, 239.0625, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e274_841 {
  color: rgba(134.00000721216202, 134.00000721216202, 134.00000721216202, 1);
  width: 23px;
  height: 49px;
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: Noto Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}